qdrant_storage
__pycache__
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
*.eggs/
*.egg
*.whl
*.manifest
*.spec
*.log
*.tmp
*.bak
*.swp
*.swo
*.DS_Store
*.coverage
*.pytest_cache/
*.mypy_cache/
*.tox/
*.nox/
*.vscode/
*.idea/
*.ipynb_checkpoints/
.ruff_cache
.env